{% extends 'base.html' %}


<!-- Block title -->
{% block title %} Backend {% endblock %}

<!-- Logout button -->
{% block nav-btn %}
<a class="btn btn-outline-danger btn-sm text-light" id="btn-nav" data-bs-toggle="model" data-bs-target="#logout">Log out</a>
{% endblock %}

<!-- Block footer -->
{% block footer %} style="color: #ff7f7f;" {% endblock %}

<!-- Block navbar content -->
{% block nav-content %}
<i class="fa-solid fa-unlock-keyhole"></i>&nbsp;&nbsp; Admininstration
{% endblock %}

<!-- Page content -->
{% block content %} 
{% include 'components/cards/allcards.html' %}
{% endblock content %}