<div class="modal fade"{% block modal-id %}{% endblock %} tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {% block modal-title %}{% endblock %}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% block modal-body %}{% endblock %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        {% block modal-footer %}
        <button type="button" class="btn btn-primary">Save changes</button>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
